<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jc.springboot.dao.SysInformationMapper">

    <resultMap id="AllContent" type="com.jc.springboot.entity.SysInformation">
        <id column="ID" property="id" jdbcType="INTEGER"/>
        <result column="TARGET_ID" property="target_id" jdbcType="VARCHAR"/>
        <result column="CONTENT" property="content" jdbcType="LONGVARCHAR"/>
        <result column="CREATE_TIME" property="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        ID, TARGET_ID, CONTENT,DATE_FORMAT(CREATE_TIME, '%Y.%m.%d %T') CREATE_TIME
    </sql>

    <select id="loadInformation" resultType="com.alibaba.fastjson.JSONObject">
        select
        <include refid="Base_Column_List"/>
        from t_sys_information
        where ID=1
    </select>

    <select id="loadMsg" resultType="com.alibaba.fastjson.JSONObject">
        select
        <include refid="Base_Column_List"/>
        from t_sys_information
        where TARGET_ID=#{userId}
    </select>

    <select id="loadUserMsg" resultType="com.alibaba.fastjson.JSONObject">
        select
        ID,
        (select nickname from sys_user where id = umsg.START_ID) as START_ID,
        RECEIVE_ID,
        CONTENT,
        DATE_FORMAT(create_time, '%Y.%m.%d %T') CREATE_TIME,
        IS_DEL
        from t_user_information as umsg
        where RECEIVE_ID=#{userId}
        and IS_DEL=0
    </select>

    <select id="listUserMsg" resultType="com.alibaba.fastjson.JSONObject">
        select
        ID,
        (select nickname from sys_user where id = umsg.START_ID) as START_ID,
        RECEIVE_ID,
        CONTENT,
        DATE_FORMAT(create_time, '%Y.%m.%d %T') CREATE_TIME,
        IS_DEL
        from t_user_information as umsg
        where RECEIVE_ID=#{userId}
        and IS_DEL=0
        LIMIT #{offSet}, #{pageRow}
    </select>
    <select id="countUserMsg" resultType="Integer">
        SELECT count(0)
        FROM t_user_information
        WHERE RECEIVE_ID=#{userId}
        and IS_DEL=0
    </select>

    <update id="saveWords">
        update t_sys_information
        set CONTENT = #{content}
        where ID=1;
    </update>

    <insert id="insertAllInformation"  useGeneratedKeys="true" keyProperty="id">
        insert into t_sys_information
        (TARGET_ID,CONTENT, CREATE_TIME)
        values
        (#{targetId},#{content},#{createTime});
    </insert>
    <insert id="insertUserInformation">
        insert into t_user_information (START_ID, RECEIVE_ID, CONTENT, CREATE_TIME)
        values
        <foreach collection="userIds" item="item" index="index" separator=",">
            (#{userId}, #{item}, #{content}, #{createTime})
        </foreach>
    </insert>

    <insert id="insertOneUserInformation">
        insert into t_user_information (START_ID, RECEIVE_ID, CONTENT, CREATE_TIME)
        values
        (#{userId}, #{userIds}, #{content}, #{createTime})
    </insert>

    <update id="deleteMsg">
        update t_user_information
        set IS_DEL = 1
        where
        ID=#{ID}
    </update>

    <select id="listsysinfomation" resultType="com.alibaba.fastjson.JSONObject">
        select
        inf.ID,
        inf.TARGET_ID,
        wx.nickname NICKNAME,
        CONTENT,DATE_FORMAT(inf.CREATE_TIME, '%Y.%m.%d %T') CREATE_TIME
        from
        t_sys_information inf
        left join sys_user wx on inf.TARGET_ID = wx.ID
        where 1=1
        <if test="starttime !=null and starttime != '' and endtime !=null and endtime != ''">
            and inf.CREATE_TIME between #{starttime} and #{endtime}
        </if>
        LIMIT #{offSet}, #{pageRow}
    </select>
    <select id="countsysinfomation" resultType="Integer">
        select
        count(0)
        from
        t_sys_information
    </select>

</mapper>
