<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jc.springboot.dao.SysTempletMapper">

    <resultMap id="systemplet" type="com.jc.springboot.entity.SysTemplet">
        <id column="ID" property="id" jdbcType="INTEGER"/>
        <result column="TITLE" property="username" jdbcType="VARCHAR"/>
        <result column="CONTENT" property="password" jdbcType="LONGVARCHAR"/>
        <result column="IS_NOT_GUIDE" property="nickname" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        ID, TITLE, CONTENT, IS_NOT_GUIDE
    </sql>

    <select id="listtemplet" resultType="com.alibaba.fastjson.JSONObject">
        select
        <include refid="Base_Column_List"/>
        from t_sys_template
        where ID!=1
        LIMIT #{offSet}, #{pageRow}
    </select>

    <select id="listalltemplet" resultType="com.alibaba.fastjson.JSONObject">
        select
        <include refid="Base_Column_List"/>
        from t_sys_template
        LIMIT #{offSet}, #{pageRow}
    </select>

    <select id="countTemplate" resultType="Integer">
        SELECT count(0)
        FROM t_sys_template
        where ID!=1
    </select>

    <select id="countallTemplate" resultType="Integer">
        SELECT count(0)
        FROM t_sys_template
    </select>

    <select id="loadExistTitle" resultType="int">
        select count(0)
         from t_sys_template
         WHERE TITLE=#{TITLE}
    </select>

    <insert id="insertTemplate" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_sys_template
        (TITLE, CONTENT) VALUES
            (#{TITLE}, #{CONTENT})
    </insert>

    <update id="updateTemplate">
        UPDATE t_sys_template
        SET
        TITLE = #{TITLE}
        , CONTENT = #{CONTENT}
        WHERE ID = #{ID}
    </update>

    <delete id="deleteTemplate">
        delete from t_sys_template
        where ID = #{ID}
    </delete>

</mapper>
