<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jc.springboot.dao.TAdvertBannerMapper">

    <insert id="insert" parameterType="com.jc.springboot.entity.TAdvertBanner">
        INSERT INTO t_advert_banner
        (ADVERT_TITLE, IMG_URL, CREATE_TIME, SORT_TIME, IS_DEL)
        VALUES
        (#{advert_title}, #{img_url}, #{create_time}, #{sort_time}, #{is_del})
    </insert>

</mapper>
